/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&family=Noto+Sans+Armenian&family=Open+Sans&display=swap');

@font-face {
    font-family: "SONGER SemiExpanded";
    src: url("../fonts/SONGER_SemiExpanded/SONGER™_SE_Regular.otf");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "SONGER SemiExpanded";
    src: url("../fonts/SONGER_SemiExpanded/SONGER™_SE_Bold.otf");
    font-weight: bold;
}

/* Global Styles */
html {
    color: #ffffff;
}

a {
    color: #ffffff;
}

a, a:hover, a:active {
    text-decoration: none;
}

/* Header and Nav */

header {
    background-color: #161616;
    border-bottom: 1px solid #fff;
    color: #ffffff;
}

.navbar-logo {
    font-family: "SONGER SemiExpanded";
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
}

.navbar-logo_name:nth-child(1) {
    color: #FF1D19;
}

.navbar {
    display: flex;
    align-items: center;
    padding-top: 7px;
    padding-bottom: 7px;
}

.navbar .container {
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    justify-content: space-between;
}

.navbar-toggler {
    background-color: transparent;
    border: 1px solid transparent;
}

.navbar-nav_call-btn {
    background-color: #FF1D19;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    padding-left: 3px;
    padding-top: 3px;
    margin-left: auto;
    margin-right: 30px;
}

.navbar-nav {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-collapse.show .navbar-nav {
    -ms-flex-direction: column;
    flex-direction: column;
}

.navbar-collapse.show .navbar-nav .nav-item {
    padding: 25px;
    color: #FFF;
    font-family: "Inter";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-bottom: 1px solid #fff;
}

.collapse:not(.show) {
    display: none;
}

.navbar-collapse.show {
    position: absolute;
    top: 55px;
    right: 0;
    bottom: 0;
    left: 105px;
    background-color: #161616;
    border-left: 1px solid #fff;
}

.navbar-collapse.show .navbar-nav-buttons .order-call-btn {
    border: 2px solid #FFF;
    background: #FFF;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 76px;
    padding: 13px 64px;
    text-align: center;
    font-family: "SONGER SemiExpanded";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

@media screen and (min-width: 1280px) {
    .navbar-toggler {
        display: none;
    }

    .navbar-nav_call-btn {
        display: none;
    }

    .navbar-collapse {
        display: flex !important;
        align-items: center;
        flex-grow: 1;
        margin-left: 50px;
    }

    .navbar-collapse .navbar-nav .nav-item {
        color: #FFF;
        text-align: center;
        font-family: Inter;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .navbar-collapse .navbar-nav .nav-item:not(:last-child) {
        margin-right: 30px;
    }

    .navbar-nav-buttons {
        margin-left: auto;
        color: #FFF;
        text-align: center;
        font-family: Inter;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .navbar-nav-buttons .order-call-btn {
        margin-left: 40px;
        width: 176px;
        height: 34px;
        border: 1px solid #FFF;
        background-color: transparent;
        color: #fff;
        text-transform: uppercase;
        padding: 8px 16px;
    }
}

/* Header and Nav End */

/* First Trigger */

#first-trigger {
    background-color: #161616;
    padding-top: 64px;
    padding-bottom: 60px;
}

#first-trigger-header {
    color: #FFF;
    font-family: "SONGER SemiExpanded";
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    text-transform: uppercase;
    white-space: nowrap;
    margin-bottom: 87px;
}

#first-trigger-subheader {
    color: #FFF;
    font-family: "Inter";
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    max-width: 143px;
    display: inline-block;
}

.register-btn {
    height: 62px;
    border: 2px solid #FFF;
    background-color: transparent;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    padding: 18px 100px;
    font-family: "SONGER SemiExpanded";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 40px;
}

@media screen and (min-width: 1280px) {
    #first-trigger {
        /*background: #161616 url("../img/car_font_bg.jpg") no-repeat top right;*/
        /*background-size: contain;*/
        padding-top: 0;
        position: relative;
        z-index: -9999;
    }

    .first-trigger-img {
        margin-top: 0;
    }

    .register-btn {
        padding: 18px 159px;
    }

    #first-trigger-header {
        font-size: 44px;
        margin-top: 120px;
        margin-bottom: 30px;
    }

    #first-trigger-subheader {
        font-size: 20px;
        max-width: 235px;
    }

    .first-trigger-bg {
        position: absolute;
        right: 0;
        top: 0;
        z-index: -99;
        bottom: 60px;
        max-width: 705px;
        opacity: 0.1;
    }

    .first-trigger-bg img {
        max-height: 100%;
    }
}

/* First Trigger End */

/* Services and prices */

#services-prices {
    padding-top: 78px;
    padding-bottom: 100px;
    background-color: #161616;
}

#services-prices .hr {
    border-color: #323232;
}

#services-prices .service-prices_heading {
    max-width: 165px;
    color: #FFF;
    font-family: "SONGER SemiExpanded";
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
}

#services-prices a.service-prices_catalog-link {
    color: #FFF;
    font-family: "SONGER SemiExpanded";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#services-prices > .container {
    margin-bottom: 20px;
}

#services-prices .service-row {
    margin-top: 40px;
}

#services-prices .services-list_link{
    color: #FFF;
    text-align: right;
    font-family: "Inter";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-right: 30px;
}

#services-prices .services-list-container {
    position: relative;
}

.service-row_service-title {
    color: #FFF;
    font-family: "SONGER SemiExpanded";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 15px;
    line-height: 100%;
}

.service-row_services-list {
    color: #A1A1A1;
    font-family: "Inter";
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 100%;
}

.services-list_link {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.service-row .service-row_border-bottom {
    border-bottom: 1px solid #fff;
    padding-bottom: 40px;
    position: relative;
}

@media screen and (min-width: 1280px) {
    #services-prices {
        padding-top: 60px;
        padding-bottom: 120px;
        background-color: #161616;
    }

    #services-prices .service-prices_heading {
        max-width: 100%;
        font-size: 40px;
    }

    #services-prices a.service-prices_catalog-link {
        justify-content: start;
        font-size: 20px;
    }

    #services-prices a.service-prices_catalog-link > a {
        margin-left: 30px;
    }

    #services-prices a.service-prices_catalog-link > span:after{
        content: " ";
        display: inline-block;
        width: 30px;
    }

    .service-row_service-title {
        font-size: 30px;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .service-row_services-list {
        color: #FFF;
        font-family: "Inter";
        font-size: 18px;
        font-style: normal;
        font-weight: 300;
        line-height: 120%;
        float: left;
    }

    #services-prices .services-list_link{
        display: block;
        float: right;
        position: static;
        width: auto;
    }

    .service-row .service-row_border-bottom {
        border-bottom: 1px solid #fff;
        padding-bottom: 19px;
    }

    #services-prices .services-list-img {
        position: absolute;
        left: 41.66%;
        bottom: -25px;
        display: none;
    }

    #services-prices .service-row:hover {
        background: linear-gradient(180deg, #3E3E3E 0%, rgba(62, 62, 62, 0.00) 100%);
    }

    #services-prices .service-row:hover .services-list_link .services-list_sign > svg > line {
        stroke: #FF1D19;
    }

    #services-prices .service-row_services-list > li:hover {
        color: #A1A1A1;
    }

    #services-prices .service-row:hover .services-list-img {
        display: block;
    }

    #services-prices .service-row {
        margin-top: 0;
        padding-top: 20px;
    }

    #services-prices > .container {
        margin-bottom: 40px;
    }
}

/* Services and prices End */

/* About Company */

#about-company {
    background: #FFF;
    padding-top: 80px;
    padding-bottom: 72px;
    color: #161616;
}

#about-company .hr {
    border-color: #FF1D19;
    margin-bottom: 30px;
}

#about-company .about-company_heading {
    font-family: "SONGER SemiExpanded";
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    margin-bottom: 15px;
}

#about-company .about-company_info {
    margin-bottom: 25px;
    color: #161616;
    font-family: "Inter";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
}

#about-company .about-company_info_link {
    color: #161616;
    font-family: "SONGER SemiExpanded";
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%
}

#about-company .about-company_info_link > span {
    max-width: 155px;
    display: inline-block;
}

#about-company .about-company_info_link {
    display: flex;
    align-items: end;
    justify-content: space-between;
}

.about-company_info-data {
    margin-bottom: 25px;
}

@media screen and (min-width: 1280px) {
    #about-company {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    #about-company .about-company_heading {
        font-size: 40px;
        margin-bottom: 50px;
    }

    #about-company .about-company_info_link {
        color: #161616;
        font-family: "SONGER SemiExpanded";
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 140%
    }

    #about-company .about-company_info_link > span {
        max-width: none;
        display: inline-block;
        margin-right: 20px;
    }

    #about-company .about-company_info_link {
        display: inline-block;
        margin-top: 60px;
    }

    #about-company .about-company_info:nth-child(1) {
        order: 1;
    }

    #about-company .about-company_info:nth-child(2) {
        order: 5;
    }

    #about-company .about-company_info:nth-child(3) {
        order: 3;
    }

    #about-company .about-company_info:nth-child(4) {
        order: 2;
    }

    #about-company .about-company_info:nth-child(5) {
        order: 4;
    }

    #about-company .about-company_info:nth-child(6) {
        order: 6;
    }

    .about-company_info-text {
        color: #161616;
        font-family: "Inter";
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 160%;
    }

    .about-company_info-text:nth-child(1) {
        margin-bottom: 162px;
        padding-right: 65px
    }

    .about-company_info-text:nth-child(1) + img {
        margin-bottom: 60px;
        padding-right: 100px;
    }

    .about-company_info-text:nth-child(2) {
        margin-bottom: 124px;
        max-width: 600px;
        margin-left: auto
    }

    .about-company_info-text:nth-child(2) + img {
        max-width: 600px;
        margin-left: auto;
        display: block
    }

    .about-company_info-data {
        margin-bottom: 0;
    }

    .about-company_info-col:nth-child(2) .about-company_info-data:nth-child(1) {
        margin-bottom: 59px;
    }
}

/* About Company End */